<div class="card m-3 p-4">
    <h1>Revise your thoughts on the party ...</h1>

    {{#if errors}}
        <span>Something went wrong:</span>
        <ul class="error-list pad-b-2">
            {{#each errors as |error|}}
                <li class="error-item">{{error}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <form method="post" action="/party/{{entry.id}}" name="edit" class="">

        <label class="mt-3">Name:</label>
        <input requiredid name="name" type="text" value="{{party.name}}" tabindex="1"
               class="border form-control">


        <label class="mt-3">location:</label>
        <input required name="location" type="text" value="{{party.location}}" tabindex="2"
               class="border form-control">


        <label class="mt-3">startsAt:</label>
        <input required id="title-input" name="startsAt" type="datetime-local"
               value="{{startsAtFormatHTML5}}" tabindex="1" class="border form-control">


        <input id="{{party.id}}" type="submit" value="Update" tabindex="3"
               class="btn btn-primary mt-3 update">

    </form>
</div>
