<div class="card m-3 p-4">
    <h1>Create a party</h1>

    {{#if errors}}
        <span>Something went wrong:</span>
        <ul class="error-list pad-b-2">
            {{#each errors as |error|}}
                <li class="error-item">{{error}}</li>
            {{/each}}
        </ul>
    {{/if}}


    <!--   <form method="post" action="/party" >
        <div class="form-group">
            <label>Name:</label>
            <input required name="name" type="text" value="{{party.name}}" tabindex="1"
                   class="border form-control">
        </div>
        <div class="form-group">
            <label>location:</label>
            <input required name="location" type="text" value="{{party.location}}" tabindex="2"
                   class="border form-control">
        </div>
        <div class="form-group">
            <label>startsAt:</label>
            <input required id="title-input" name="startsAt" type="datetime-local"
                   value="{{party.startsAt}}" tabindex="1" class="border form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Create" tabindex="3"
                   class="btn btn-info update">
        </div>
    </form>
</div>-->

    <form method="post" action="/party">
        <label class="mt-3">Name:</label>
        <input required name="name" type="text" value="{{party.name}}" tabindex="1"
               class="border form-control">

        <label class="mt-3">location:</label>
        <input required name="location" type="text" value="{{party.location}}" tabindex="2"
               class="border form-control">

        <label class="mt-3">startsAt:</label>
        <input required name="startsAt" type="datetime-local"
               value="{{party.startsAt}}" tabindex="1" class="border form-control">

        <input type="submit" value="Create a party" tabindex="3"
               class="btn btn-primary mt-3 update">
    </form>
</div>
